html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    background-image: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.profile_card {
    width: 100%;
    top: 100px;
    min-height: 460px;
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgba(13,28,39,0.6);
    background: #fff;
    border-radius: 12px;
    max-width: 700px;
    position: relative;
    
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 200px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    background: #ffffff
}
header img {
    width: 150px;
    height: 150px;
    transform: translateY(-65%);
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 75px);
    box-shadow: 0px 5px 50px 0px rgb(4, 28, 58), 0px 0px 0px 7px rgba(0, 149, 138, 0.5);

   
}
.header_title_container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 60px;
    text-align: center;
    align-self: center;
}
.header_title_container h1 {
    font-size: 3.4rem;
    font-weight: bold;    
    line-height: 3rem; 
    padding: 30px;
    color: #008291; 
}
.navbar {
    margin: 0 10px 0 10px;
}
.navbar ul {
    height: 50px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    padding-left: 5px;
    background: #051937EA;
    border-radius: 15px;
}
.navbar ul li a {
    text-decoration: none;
    font-size: 800;
    font-weight: 800;
    color: #EEEEEE;
}
.contact , .experience , .studies , .target {
    display: flex;
    align-items: center;
    border-bottom: 4px solid #051937ea;
}
.contact img , .experience img , .studies img , .target img {
    width: 30px;
    height: 30px;
    margin-left: 50px;
}
.contact p , .experience p , .studies p , .target p {
    font-size: 1.8rem;
    font-weight: 600;
    color: #008291;
    padding-left: 30px;
}
.contact_information {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_information ul li {
    list-style: none;
    font-size: 1.6rem;
}
.contact_information li:nth-child(1) {
    background-image: url(./assets/llamada-telefonica.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 40px;
}
.contact_information li:nth-child(2) {
    background-image: url(./assets/correo.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 40px;
}
.contact_information li:nth-child(3) {
    background-image: url(./assets/casa.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 40px;
}
.contact_information li:nth-child(4) {
    background-image: url(./assets/calendario.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 40px;
}
.contact_information li:nth-child(5) {
    background-image: url(./assets/usuario.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 40px;
}
.experience_box , .studies_box , .target_box {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}
.experience_box h2 , .studies_box h2 {
    font-size: 1.8rem;
    font-weight: bold;
}
.experience_box p , .studies_box p , .target_box p {
    font-size: 1.2rem;
}

.navbar a:hover {
    font-size: 1.6rem;
}
.contact p:hover, .experience p:hover, .studies p:hover , .target p:hover {
    color: #051937;
}